jupyter-book
matplotlib
numpy
jupytext
myst-parser
myst-nb
linkify-it-py
jinja2
matplotlib==3.3.3
seaborn
networkx>=2.0.0
ipython
ipykernel
watermark
blackjax>=0.8.2
dm-haiku
ipywidgets
pandas
scikit-learn
gpjax